	body{
				font-family: Verdana, Geneva, sans-serif;
			}
			#logo img{
				width: 700px;
				height: 300px;
				margin-left: 300px;
			}
			nav ul{
				padding: 15px;
				margin: 0px auto 0px auto;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				text-transform: uppercase;
			}
			nav ul li{
				display: inline;
				margin: 0px 3px;
			}
			h1{
				font-size: 24px;
				color: #D8188D;
			}
			h2{
				font-size: 18px;
			}
			form {
			    width: 400px;
			    /* To see the outline of the form */
			    padding: 1em;
			    border: 1px solid #CCC;
			    border-radius: 1em;
			}
			form div + div {
			    margin-top: 1em;
			}
			footer{
				margin-top: 10px;
				font-size: smaller;
			}